.about {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-right: 104px;
  max-height: 624px;
}

.about__image {
  max-width: 464px;
  max-height: 464px;
  min-width: 250px;
  min-height: 250px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}

.about__text {
  color: black;
  margin-left: 56px;
}

.about__description-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  max-width: 600px;
  min-width: 300px;
  height: 120px;
}

.about__description {
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0px;
  height: 46px;
  width: 600px;
  margin-top: 51px;
  margin-bottom: 24px;
}

@media (max-width: 1330px) {
  .about {
    margin-left: 104px;
  }
  .about__description {
    max-width: 400px;
  }
}

@media (max-width: 850px) {
  .about__description-text {
    font-size: 13px;
  }

  .about__description {
    font-size: 20px;
    max-width: 424px;
  }

  .about__image {
    max-width: 150px;
    max-height: 150px;
  }

  .about__text {
    max-width: 424px;
  }
}

@media (max-width: 768px) {
  .about {
    padding: 0;
    margin: 0;
    gap: 32px;
    max-width: 768px;
    max-height: 354px;
  }

  .about__description {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 2px;
    margin-top: 40px;
    margin-bottom: 0;
  }

  .about__description-text {
    margin-top: 0;
    width: 424px;
    height: 168px;
    font-size: 18px;
  }

  .about__image {
    margin-top: 61px;
    margin-bottom: 61px;
    margin-left: 40px;
    min-width: 232px;
    min-height: 232px;
  }

  .about__text {
    margin-left: 0;
    margin-right: 40px;
  }
}


@media (max-width: 690px) {
  .about {
    flex-direction: column;
    margin: 32px 24px 24px 24px;
    align-items: center;
    margin: 0;
  }

  .about__image {
    min-width: 272px;
    min-height: 272px;
  }
  .about__description {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0px;
  }
  .about__description-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0px;
  }
}

@media (max-width: 680px) {
  .about {
    width: 320px;
    max-height: 752px;
    padding: 0;
    gap: 0;
  }
  .about__text {
    width: 100%;
    height: 100%;
    margin-right: 0;
  }
  .about__image {
    margin: 32px 24px 24px 24px;
  }
  .about__description {
    width: 288px;
    height: 40px;
    margin: 0 16px 16px 16px;
  }
  .about__description-text {
    width: 288px;
    height: 240px;
    margin: 0 16px 128px 16px;
  }
}
