.footer {
  color: #1a1b22;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 104px;
  padding-right: 104px;
  padding-bottom: 26px;
}

.footer__nav {
  display: flex;
  padding: 0;
  margin: 0;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

.footer__icons {
  display: flex;
  align-items: center;
  margin-left: 40px;
  gap: 20px;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 20px;
}

@media (max-width: 650px) {
  .footer {
    max-width: 100%;
    height: 100%;
    flex-direction: column-reverse;
    padding: 0;
  }

  .footer__nav {
    width: 100%;
  }

  .footer__links {
    flex-direction: column;
    width: 200px;
    height: 74px;
    margin: 20px 16px 38px 16px;
    padding: 0;
  }

  .footer__home {
    align-self: flex-start;
  }
  .footer__tripleten {
    align-self: flex-start;
  }

  .footer__icons {
    margin: 20px 16px 0 0;
    align-items: flex-start;
  }
}
