.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 104px;
  padding-right: 104px;
  padding-bottom: 26px;
  height: 80px;
}

.footer__copyright {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
  color: #b6bcbf;
}

.footer__nav {
  display: flex;
  padding: 0;
  margin: 0;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #1a1b22;
}

.footer__icons {
  display: flex;
  align-items: center;
  margin-left: 40px;
  gap: 30px;
  margin-left: 40px;
}

.footer__home{
  cursor: pointer;
}

.footer__tripleten-link {
  text-decoration: none;
  color: inherit;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 40px;
  padding: 0;
}

@media (max-width: 768px) {
  .footer {
    max-height: 64px;
    padding: 0;
  }

  .footer__icons {
    margin-right: 40px;
    padding-top: 5px;
  }
  .footer__copyright {
    margin-left: 40px;
  }
}

@media (max-width: 690px) {
  .footer {
    margin-top: 400px;
  }
}

@media (max-width: 650px) {
  .footer {
    max-width: 100%;
    height: 100%;
    flex-direction: column-reverse;
  }

  .footer__nav {
    width: 100%;
  }

  .footer__links {
    flex-direction: column;
    width: 200px;
    height: 74px;
    margin: 20px 16px 38px 0;
    padding: 0;
  }

  .footer__home {
    align-self: flex-start;
  }
  .footer__tripleten {
    align-self: flex-start;
  }

  .footer__icons {
    margin: 20px 16px 0 0;
    align-items: flex-start;
  }
}

@media (max-width: 320px) {
  .footer {
    max-height: 176px;
    background-color: #ffffff;
    margin-top: 0;
  }
  .footer__nav {
    gap: 16px;
    margin: 20px 0 0 16px;
    width: 300px;
  }
  .footer__links {
    margin: 0;
    gap: 0;
  }
  .footer__icons {
    margin: 0;
    gap: 26px;
    padding: 1px 0 0 0;
  }
  .footer__copyright {
    margin: 0;
    max-width: 288px;
    max-height: 22px;
    margin: 38px 16px 22px 16px;
  }
  .footer__home {
    width: 28px;
  }
  .footer__tripleten {
    width: 28px;
  }
}
