.main-page__image-wrapper {
  position: relative;
  height: 50vh;
  overflow: hidden;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-page__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  z-index: 2;
  padding-top: 45px;
}

.main-page__seach-title {
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  letter-spacing: 0px;
  margin: 0;
  padding-bottom: 32px;
}

.main-page__seach-sub-title {
  margin: 0;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.main-page__search-bar-wrapper {
  position: relative;
  margin-top: 88px;
  margin-bottom: 0;
}

.main-page__search-bar {
  border-radius: 100px;
  min-width: 608px;
  min-height: 64px;
  border: none;
}

.main-page__search-button {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500px;
  width: 168px;
  height: 64px;
  cursor: pointer;
  color: #ffffff;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 100px;
  background-color: #2f71e5;
  position: absolute;
  right: 1px;
  top: 1px;
  padding: 0;
  margin: 0;
}

.main-page__image-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

@media (max-width: 650px) {
  .main-page__image-wrapper {
    height: 65vh;
  }

  .text-wrapper {
    padding: 16px;
    width: 100%; /* full width */
    max-width: 100%; /* prevent overflow */
    margin: 0 auto;
    box-sizing: border-box;
  }

  .main-page__seach-title {
    font-family: "Roboto Slab";
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 12px;
    align-self: flex-start;
  }

  .main-page__seach-sub-title {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 24px;
  }

  .main-page__search-bar-wrapper {
    display: flex;
    align-items: stretch;
    width: 100%;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .main-page__search-bar {
    min-width: auto;
    min-height: auto;
    margin: 0;
    border-radius: 100px;

    height: 48px;
  }

  .main-page__search-button {
    width: 100%;
    margin-top: 12px;
    height: 48px;
    border-radius: 100px;
    position: static;
  }
}
