.main-page__image-wrapper {
  position: relative;
  height: 576px;
  overflow: hidden;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-page__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.main-page__text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  z-index: 2;
  margin-top: 80px;
}

.main-page__search-title {
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  letter-spacing: 4.5px;
  margin: 0;
  padding-bottom: 32px;
  height: 128px;
  width: 608px;
}

.main-page__search-subtitle {
  margin: 0;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  
}

.main-page__search-bar-wrapper {
  position: relative;
  margin-top: 88px;
  margin-bottom: 0;
}

.main-page__search-bar {
  border-radius: 100px;
  min-width: 608px;
  min-height: 64px;
  border: none;
  margin-bottom: 80px;
}

.main-page__search-button {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500px;
  width: 168px;
  height: 64px;
  cursor: pointer;
  color: #ffffff;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 100px;
  background-color: #2f71e5;
  position: absolute;
  right: 1px;
  top: 1px;
  padding: 0;
  margin: 0;
}

.main-page__image-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
@media (max-width: 768px) {
  .main-page__search-title{
    width: 385px;
    height: 80px;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0;
    padding-bottom: 0;
    margin-top: 104px;
    margin-bottom: 16px;
    margin-right: 63px;
  }
  .main-page__search-subtitle{
    max-width: 452px;
    max-height: 48px;
    
    
  }

  .main-page__text-wrapper{
    margin-top:0;
    height: auto;

  }


  .main-page__image-wrapper {
  height: 400px;
  
}
.main-page__search-bar-wrapper{
  margin-top: 48px;
  margin-bottom: 0;
  
}
.main-page__search-bar{
  min-width: 452px;
  min-height: 56px;
}
.main-page__search-button{
  width: 160px;
  height: 56px;
}
}

@media (max-width: 650px) {
  .main-page__image-wrapper {
    height: 65vh;
  }

  .main-page__text-wrapper {
    padding: 16px;
    width: 100%; /* full width */
    max-width: 100%; /* prevent overflow */
    margin: 0 auto;
    box-sizing: border-box;
  }

  .main-page__search-title {
    font-family: "Roboto Slab";
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 12px;
    align-self:center;
  }

  .main-page__search-subtitle {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 24px;
  }

  .main-page__search-bar-wrapper {
    display: flex;
    align-items: stretch;
    width: 100%;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .main-page__search-bar {
    min-width: auto;
    min-height: auto;
    margin: 0;
    border-radius: 100px;

    height: 48px;
  }

  .main-page__search-button {
    width: 100%;
    margin-top: 12px;
    height: 48px;
    border-radius: 100px;
    position: static;
  }
}

@media (max-width: 400px) {
  .main-page__text-wrapper{
    padding-top: 86px;
  }
  .main-page__search-title{
    width: 285px;
    height: 80px;
    margin-right:0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 16px;
    align-self: flex-start;
    font-size: 36px;
    line-height: 40px;
  }
  .main-page__search-subtitle {
    
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 122px;
    max-width: 288px;
    max-height: 72px;
  }
  .main-page__search-bar{
width: 288px;
height: 56px;
padding: 0;
  }

  .main-page__search-bar-wrapper{
    gap:16px;
  }

  .main-page__search-button {
    padding: 0;
    width: 288px;
    height: 56px;
    margin:0;
  }

  .main-page__image-wrapper {
    height: 536px;

  }
}
