.mobile__container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 101;
  
}

.mobile__menu {
  display: flex;
  background-color: #1a1b22;
  color: #ffffff;
  flex-direction: column;
  width: 100%;
  height: 230px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  
}

.mobile__menu-divider{
    border-bottom: 1px solid #FFFFFF33;
    padding:0;
    margin: 0 0 16px 0 ;
}

.mobile__menu_list{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-left: 16px;
    margin-bottom: 16px;
    width: 288px;
    height: 56px;
    list-style: none;
    gap: 16px;
}

.mobile__modal__close {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 16px;
  right: 16px;
  background-image: url(../src/assets/CloseIcon.svg);
  background-size: contain;
  border: none;
  background-color: transparent;
}

.mobile__menu-item {
  align-self: flex-start;
  align-content: center;
}

.mobile__signin {
  align-self: center;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  line-height: 24px;
  width: 288px;
  height: 56px;
  border-radius: 100px;
  border-color: #ffffff;
  background-color: transparent;
  margin: 22px 16px 24px 16px;
}

.mobile__title {
  margin: 16px 187px 16px 16px;
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  vertical-align: middle;
  width: 117px;
  height: 24px;
  
}
