.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  display: flex;
  margin: 0;
  padding: 0;
  z-index: 100;
}
.modal--opened {
  visibility: visible;
}

.modal__container {
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  width: 430px;
  padding-left: 36px;
  padding-right: 36px;
  padding-bottom: 28px;
  padding-top: 34px;
  position: relative;
}

.modal__close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -50px;
  right: -50px;
  background-image: url(../src/assets/CloseIcon.svg);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
  font-family: "CabinetGrotesk-Regular";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  width: 100%;
}

.modal__form-title {
  font-family: "CabinetGrotesk-Regular";
  margin-bottom: 24px;
  font-family: Roboto;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

.modal__form-input-title {
  margin-bottom: 8px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #2f71e5;
}

.modal__form-input {
  border: none;
  outline: none;
  border-bottom: 1px solid #000000;
  line-height: 1.05;
  margin-bottom: 24px;
}

.modal__form-input:focus {
  border-bottom-color: #2f71e5;
  box-shadow: 0 2px 0 -1px #2f71e5;
}

.modal__form-radio-title {
  margin-bottom: 12px;
  font-size: 16px;
  font-family: "CabinetGrotesk-Regular";
}
.modal__form-radio {
  margin-bottom: 8px;
  width: 50px;
  height: 20px;
}

.modal__form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}

.modal__submit-button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  line-height: 24px;
  width: 100%;
  height: 64px;
  border-radius: 100px;
  margin-top: 32px;
  margin-bottom: 16px;
  background-color: #2f71e5;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal__submit-button--disabled {
  background-color: #e6e8eb;
  color: #a0a4ab;
  cursor: not-allowed;
  border: none;
  opacity: 0.9;
}

.modal__form_submit-button--disabled:hover,
.modal__form_submit-button--disabled:active {
  background-color: #e6e8eb;
}

.modal__form-login {
  font-family: "Inter";
  font-style: Bold;
  color: #2f71e5;
  border: none;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
}

.modal__form-error {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #ff0000;
  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {
  .modal__close {
    right: 1px;
  }
}

@media (max-width: 320px) {
  .modal {
    align-items: flex-end;
  }
  .modal__container {
    height: 85vh;
    border-radius: 20px 20px 0 0;
  }
}
