.card__container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 576px;
  background-color: #ffffff;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}

.card__image {
  max-width: 400px;
  max-height: 272px;
  min-width: 400px;
  min-height: 272px;
  object-fit: cover;
}

.card__date {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #b6bcbf;
  padding: 0;
  margin: 0 0 12px 0;
}

.card__title {
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0px;
  margin: 0 0 46px 0;
}

.card__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
  color: #1a1b22;
  margin: 0 0 40px 0;
}
.card__text-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 24px 24px 24px;
  margin: 0;
  height: 100%;
}

.card__source {
  margin-top: auto;
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #b6bcbf;
}

.card__bookmark {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}

@media (max-width: 650px) {
  .card__container {
    max-width: 288px;
    max-height: 440px;
  }

  .card__image {
    min-width: 288px;
    min-height: 196px;
  }
  .card__text {
    margin-bottom: 8px;
  }

  .card__title {
    font-size: 22px;
    margin-bottom: 16px;
    line-height: 24px;
  }

  .card__text-wrapper {
    padding-bottom: 16px;
  }

  .card__source {
    margin-bottom: 0;
    margin-top: 0;
  }
}
