.card__container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 576px;
  background-color: #ffffff;
  border-radius: 18px;
  overflow: hidden;
  position: relative;
}

.card__image {
  max-width: 400px;
  max-height: 272px;
  min-width: 400px;
  min-height: 272px;
  object-fit: cover;
}

.card__date {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #b6bcbf;
  padding: 0;
  margin: 0 0 12px 0;
}

.card__title {
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0px;
  margin: 0 0 46px 0;
}

.card__link {
  text-decoration: none;
  color: #1a1b22;
}

.card__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
  color: #1a1b22;
  margin: 0 0 40px 0;
}
.card__text-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 24px 24px 24px;
  margin: 0;
  height: 100%;
}

.card__source {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #b6bcbf;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  position: absolute;
  bottom: 24px;
  left: 24px;
  margin: 0;
}

.card__bookmark {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}
.card__bookmark-icon {
  display: inline-block;
  width: 24px;                  
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: background-image 0.15s ease, filter 0.15s ease;
}

.card__bookmark.is-empty .card__bookmark-icon {
  background-image: url("../src/assets/NoBookmark.svg");
}

.card__bookmark.is-bookmarked .card__bookmark-icon {
  background-image: url("../src/assets/Bookmarked.svg");
}


.card__bookmark.is-empty:hover .card__bookmark-icon {
  background-image: url("../src/assets/bookmarkHover.svg");
}

.card__bookmark.is-bookmarked:hover .card__bookmark-icon {
  background-image: url("../src/assets/Bookmarked.svg");
}

.card__bookmark.on-saved .card__bookmark-icon {
  background-image: url("../src/assets/trashIconGray.svg");
}
.card__bookmark.on-saved:hover .card__bookmark-icon {
  background-image: url("../src/assets/trashIconBlack.svg");
}

.card__bookmark-disclaimer {
  width: 182px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #ffffff;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 69px;
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.card__bookmark:hover + .card__bookmark-disclaimer {
  display: flex;
}

@media (max-width: 768px) {
  .card__container {
    width: 224px;
    height: 420px;
  }
  .card__image {
    min-width: 224px;
    min-height: 150px;
    max-width: 224px;
    max-height: 150px;
  }
  .card__title {
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .card__text {
    margin-bottom: 12px;
    max-width: 192px;
    max-height: 88px;
    overflow: hidden;
  }
  .card__text-wrapper {
    padding: 16px;
    width: 192px;
  }

  .card__source {
    position: absolute;
    bottom: 16px;
    left: 16px;
    margin: 0;
  }
  .card__bookmark {
    top: 8px;
    right: 8px;
  }

  .card__bookmark-disclaimer {
    width: 150px;
    top: 8px;
    right: 53px;
  }
}

@media (max-width: 650px) {
  .card__container {
    max-width: 288px;
    max-height: 440px;
  }

  .card__image {
    min-width: 288px;
    min-height: 196px;
  }
  .card__text {
    margin-bottom: 8px;
  }

  .card__title {
    font-size: 22px;
    margin-bottom: 16px;
    line-height: 24px;
  }

  .card__text-wrapper {
    padding-bottom: 16px;
    height: 215px;
  }

  .card__source {
    margin-bottom: 0;
    margin-top: 0;
  }
  .card__bookmark {
    top: 16px;
    right: 16px;
  }
}
@media (max-width: 320px) {
  .card__container {
    width: 288px;
    height: 440px;
  }

  .card__image {
    width: 288px;
    height: 196px;
  }
  .card__title {
    font-size: 22px;
    width: 256px;
    height: 48px;
  }
  .card__text {
    margin-bottom: 12px;
    min-width: 256px;
    min-height: 66px;
  }
  .card__text-wrapper {
    width: 256px;
  }
  .card__bookmark-disclaimer {
    top: 17px;
    right: 59px;
  }
}
