.circle-preloader__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.circle-preloader {
  display: flex;
  width: 50px;
  height: 50px;
  border: 4px solid #444;
  border-bottom-color: #888;
  border-radius: 50%;
  margin: auto;
  animation: spin 0.75s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.circle-preloader__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #b6bcbf;
  width: 280px;
}
