.saved-articles-container {
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.saved-articles__header {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  margin-left: 104px;
  margin-right: 0;
  gap: 28px;
  margin-bottom: 56px;
}

.saved-articles__title {
  color: #1a1b2280;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  margin: 0;
  padding: 0;
}

.saved-articles__text {
  color: #1a1b22;
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0px;
  margin: 0;
  padding: 0;
}

.saved-articles__amount {
  color: #1a1b22;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
}

.saved-articles__content {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  background-color: #f5f6f7;
  height: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 40px;
  padding-right: 40px;
}

@media (max-width: 650px) {
  .saved-articles-container {
    align-items: center;
  }

  .saved-articles__content {
    padding: 24px 16px 12px 16px;
  }
  .saved-articles__header {
    margin: 0;
    gap: 0;
  }
  .saved-articles__text {
    font-size: 30px;
    line-height: 34px;
    margin: 16px 16px 50px 16px;
  }

  .saved-articles__title {
    margin: 18px 16px 0 16px;
    font-size: 12px;
  }
  .saved-articles__amount {
    margin: 0 17px 32px 15px;
  }
}
