.saved-articles {
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.saved-articles__header {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  margin-left: 104px;
  margin-right: 0;
  margin-bottom: 0;
}

.saved-articles__title {
  color: #1a1b2280;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  margin-bottom: 28px;
  margin-top: 0;
  padding: 0;
  max-width: 712px;
  height: 24px;
}

.saved-articles__text {
  color: #1a1b22;
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0px;
  margin-bottom: 30px;
  margin-top: 0;
  padding: 0;
  width: 530px;
  height: 92px;
}

.saved-articles__amount {
  color: #1a1b22;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  max-width: 712px;
  height: 24px;
  margin-top: 0;
  margin-bottom: 56px;
}

.saved-articles__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  background-color: #f5f6f7;
  padding-top: 62px;
  padding-bottom: 62px;
  padding-left: 102px;
  padding-right: 106px;
  max-height: 100%;
  max-width: 100%;
  align-self: auto;
}

@media (max-width: 768px) {
  .saved-articles__header {
    margin-top: 66px;
    margin-bottom: 0;
    margin-left: 40px;
  }

  .saved-articles__title {
    margin-top: 24px;
    margin-bottom: 16px;
    font-size: 14px;
  }

  .saved-articles__text {
    width: 336px;
    height: 68px;
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 34px;
  }

  .saved-articles__amount {
    margin-bottom: 32px;
    margin-top: 0;
  }

  .saved-articles__content {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 40px;
    padding-right: 40px;
    gap: 8px;
  }
}

@media (max-width: 650px) {
  .saved-articles__container {
    align-items: center;
  }

  .saved-articles__content {
    padding: 24px 16px 12px 16px;
    gap: 10px;
  }
  .saved-articles__header {
    margin: 0;
    gap: 0;
  }
  .saved-articles__text {
    font-size: 30px;
    line-height: 34px;
    margin: 16px 16px 50px 16px;
    max-width: 288px;
    height: 68px;
  }

  .saved-articles__title {
    margin: 64px 16px 0 16px;
    font-size: 12px;
    max-width: 288px;
    height: 24px;
  }
  .saved-articles__amount {
    margin: 0 17px 32px 15px;
    max-width: 288px;
    height: 48px;
  }
}
